@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h1>Create</h1>
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <partial name="PartialViews/CreateUpdatePartialView" />
        <input type="submit" value="Create New Department" class="btn btn-primary" />
    </form>
</div>

