@model ForgotPasswordVM
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<form action="ForgotPassword" method="post">
	<input class="text email" type="email" placeholder="Email" asp-for="@Model.Email">
	<span asp-validation-for="@Model.Email" class="text-danger"></span>
	<input type="submit" value="Send">
</form>

